<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js" integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="
    crossorigin="anonymous"></script>
  <script src="vendor/jquery/jquery.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!--Pulling Awesome Font -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/half-slider.css" rel="stylesheet">
  <link href="css/one-page-wonder.css" rel="stylesheet">

  <!-- favicon -->
  <link rel="icon" href="img/myFavicon.ico">
<br>
<br>
<br>	
	<title>{{ page.title }}</title>
	
</head>
<body>
<br>
	{{ content }}

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
	  <br>
    <div class="container">
      <a class="navbar-brand" href="#" id="inspire">Inspire.Create.Share.</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#myBlog" id="blog">Blog</a>
          </li>
        </ul>
      </div>
    </div>
	  <br>
  </nav>

<br>
     <!-- section social Media Contact Me -->
    <section>
      <div class="container" id="followMe">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <p class="masthead-heading mb-0">Connect with Me!</p>
              <ul class="social-network social-circle">
                <li>
                  <a href="https://github.com/angelyna?tab=repositories" class="icoRss" title="GitHub">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/accountinginAmajor/" class="icoFacebook" title="Facebook">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/AbyAngelina" class="icoTwitter" title="Twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/angelinadavies/" class="icoLinkedin" title="Linkedin">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.youtube.com/channel/UC0x34s944Dpqa-ND-61i4KQ/videos" class="icoGoogle" title="YouTube">
                    <i class="fa fa-youtube"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <!-- <h2 class="display-4"> -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="400" height="240" src="https://www.youtube.com/embed/Vbs9IQqCuZQ" frameborder="0" allow="autoplay; encrypted-media"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-silver">
      <div class="container">
       <p class="m-0 text-center text-black style=" width: 3rem; " ">Created by <strong>Angelina Davies</strong> 2018&copy;Founder <strong>Accounting in A Major</strong></p>
      </div>
      <!-- /.container -->
    </footer>

</body>

</html>
